<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5">

  <!-- Footer -->
  <footer class="text-center text-lg-start text-white" style="background-color: #000000">
      
      <!-- Section: Social media -->
      <section class="d-flex flex-wrap justify-content-between p-4" style="background-color: #252525">
          <!-- Left -->
          <div class="me-5">
              <span>Get connected with us on social networks:</span>
          </div>
          <!-- Right -->
          <div class="d-flex flex-wrap">
              <a href="https://www.facebook.com/codencoach/" class="text-white me-4"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/codencoach/" class="text-white me-4"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/code-n-coach-/" class="text-white me-4"><i class="bi bi-linkedin"></i></a>
              <a href="#" class="text-white me-4"><i class="bi bi-whatsapp"></i></a>
              <a href="https://www.youtube.com/@CodeNCoach" class="text-white me-4"><i class="bi bi-youtube"></i></a>
          </div>
      </section>
      <!-- End of Social media -->

      <!-- Section: Links  -->
      <section class="container text-center text-md-start mt-5">
          <div class="row">
              <!-- Company Info -->
              <div class="col-lg-4 col-md-6 mb-4">
                  <h6 class="text-uppercase fw-bold">Company name</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #000000; height: 2px" />
                  <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>

              <!-- Products -->
              <div class="col-lg-2 col-md-6 mb-4">
                  <h6 class="text-uppercase fw-bold">Products</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #010101; height: 2px" />
                  <p><a href="#!" class="text-white">MDBootstrap</a></p>
                  <p><a href="#!" class="text-white">MDWordPress</a></p>
                  <p><a href="#!" class="text-white">BrandFlow</a></p>
                  <p><a href="#!" class="text-white">Bootstrap Angular</a></p>
              </div>

              <!-- Useful Links -->
              <div class="col-lg-2 col-md-6 mb-4">
                  <h6 class="text-uppercase fw-bold">Useful links</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #000000; height: 2px" />
                  <p><a href="#!" class="text-white">Your Account</a></p>
                  <p><a href="#!" class="text-white">Become an Affiliate</a></p>
                  <p><a href="#!" class="text-white">Shipping Rates</a></p>
                  <p><a href="#!" class="text-white">Help</a></p>
              </div>

              <!-- Contact -->
              <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
                  <h6 class="text-uppercase fw-bold">Contact</h6>
                  <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #000000; height: 2px" />
                  <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                  <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                  <p><i class="fas fa-phone mr-3"></i> +01 234 567 88</p>
                  <p><i class="fas fa-print mr-3"></i> +01 234 567 89</p>
              </div>
          </div>
      </section>
      <!-- End of Links  -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: #252525">
          © 2025 Copyright:
          <a class="text-white" href="#">Code N Coach</a>
      </div>
      <!-- End Copyright -->

  </footer>
  <!-- End Footer -->

</div>
<!-- End of .container -->
